package ${target.getProperty("namespace")};

public class ${type.name} {
#foreach($op in $type.operations)

    /**
#if(${util.isBlank(${op.documentation})})
     * ${op.name}
#else
     * ${op.documentation}
#end
#foreach($p in ${op.parameters})
     * @param ${p.name}
#end
#if(!${op.getReturnType().equals("void")})
     * @return ${op.returnType}
#end
#foreach($p in ${op.parameters})
     * @see ${p.type}
#end
     */
    public ${op.returnType} ${op.name}(#foreach($p in ${op.parameters})${p.type} ${p.name}#if($velocityHasNext), #end#end) {
        //TO-DO: Business logic here
    }
#end

}